/*body {margin:0;}*/

body, html {
    height: 100%;
    margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #4d4d33;
  
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d6d6c2;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
	
.main {
	float: center;
}

.hero-image {
  background-image: images/ContainImage.jpg;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.screen {
	text-align:center;
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
	float:left;
}		



.footer {
 
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  
  padding: 10px;
  background-color: #efefef;
  text-align: center;
  clear: both;
    position: relative;
    z-index: 10;
    height: 4em;
    margin-top: -1em;
}


