/*body {margin:0;}*/

body, html {
    height: 100%;
    margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
	
.main {
	float: center;
}

.bottomFooter{
	background:#efefef;
	padding:20px 0;
	margin-top:60px;
	font-size:12px;
	color:#666666;
	border-top: 1px solid #e5e5e5;
}

.bottomFooter .bLogo{
	text-transform: uppercase;
	color:#111111;
	position:relative;
}

.bottomFooter .bLogo:after {
    border-bottom: 2px solid #111111;
    content: "";
    display: block;
    position: absolute;
    right: 1px;
    top: 15px;
    width: 10px;
    z-index: 0;
}

.bottomFooter .right{
	float:right;
}

.bottomFooter .right i{
	color:#da4856;
}

