/*body {margin:0;}*/

body, html {
    height: 100%;
    margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #4d4d33;
  
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d6d6c2;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
	
.main {
	float: center;
}

.hero-image {
  background-image: images/HeroImage.jpg;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.bottomFooter{
	background:#efefef;
	padding:20px 0;
	margin-top:60px;
	font-size:12px;
	color:#666666;
	border-top: 1px solid #e5e5e5;
}

.bottomFooter .bLogo{
	text-transform: uppercase;
	color:#111111;
	position:relative;
}

.bottomFooter .bLogo:after {
    border-bottom: 2px solid #111111;
    content: "";
    display: block;
    position: absolute;
    right: 1px;
    top: 15px;
    width: 10px;
    z-index: 0;
}

.bottomFooter .right{
	float:right;
}

.bottomFooter .right i{
	color:#da4856;
}

